.jeopardy-category {
    display: grid;
    grid-template-rows: 130px repeat(5, 1fr);
    gap: 10px;
    background-color: black;
}

.jeopardy-category h2 {
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 2rem;
}


